# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
*.pth
*.pt

# Node / Frontend
node_modules/
dist/
.dist/
*.local

# Dataset & Large Files
dataset/
*.zip
*.tar.gz

# IDE
.vscode/
.idea/
.DS_Store